<%- include('header') -%>

<% menu.forEach((row) => {%>
	<div class="menuItemWrapper">
		<p><%- row.title -%></p>
		<p><%- row.price -%></p>
	</div>
<% }) %>







<%- -%>
<%- -%>
<%- -%>

<%- include('footer') -%>